
/*----------------LAYOUT----------------*/

body
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height: 1.5;
	color: #333;
	margin:auto;
	padding:0px;
	width:1200px;
	background:url("background1.jpg");
	background-size: 100%;
}

#bloc_page_FR
{
	background-color:rgba(255,255,255,0.9);
	margin:0px;
}
/*----------------(layout)---------------*/
/*=======================================*/
/*----------------EN-TÊTE----------------*/
header
{
	position: sticky;
	top:0px;
	margin:auto;
}

#logo
{
	display:flex;
	align-items: center;
	justify-content: center;
	border: solid black;
	border-width: 2px 2px 0px 2px ;
	background:url("baseMTL2.png")center;
	background-size: auto 100% ;
	height:100px;
	text-decoration:none;
	color:black;

}

#logo h1
{
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	font-family:"Arial black";
	font-size: 1.5em;
	opacity:0.6;
}
#logo a h1
{
	color:green;
	text-decoration:none;
}
#nav_wrapper
{
	position:sticky;
	top:0px;
	align-self: flex-start;
}
nav
{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

nav a
{
	border: 1px solid black;
	background: rgb(209,31,43);
	color: black;
	font-family:"Arial black";
	font-size: 1.5em;
	text-decoration:none;
	text-transform:uppercase;
	flex-grow:1;
	text-align:center;
}

nav a:hover
{
	background:pink;
	color: white;
}

nav p
{
	margin:0px;
}

.nav_b
{
	display:none;
}

#logo:hover .nav_b
{
	display:block;
}
/*---------------(en-tête)---------------*/
/*=======================================*/
/*----------------SECTION----------------*/
section
{
	margin:0px;
}
section p
{
	padding:0px 100px 0px 100px;
}
article p
{
	text-indent:25px;
	background:url("cardinal_pfloat.jpg")no-repeat;
	background-size:25px;
	background-position:100px 0px;

}
section img
{
	padding:0px;
	width:100%; 
    height:auto; 
}
/*---------------(section)---------------*/
/*=======================================*/
/*----------------FIGURES----------------*/
figcaption
{
	
	text-align:center;
	color:black;

}
figcaption p
{

}
.Source
{
	margin:auto;
	max-width: 200px;
	color:blue;
	font-size:0.6em;

}
.HoverSourceF1
{
	display:none;

}
.Source:hover .HoverSourceF1
{
	display:block;
}
/*---------------(figures)---------------*/
/*=======================================*/
/*--------------BAS-DE-PAGE--------------*/
footer
{
	margin:0px;
	padding:0px;
/*	position: sticky;
	bottom:0px;				*/
	border: 1px solid black;
}

footer p
{
	margin:0px;
	background: rgb(209,31,43);
	color: black;
	text-align:center;
}